# Tell the configuration system it should stop looking for other configuration files
# Reason: This ensure that only the configuration in this repository is used to configure Lombok
config.stopbubbling = true

# Emit a warning or error if an experimental feature is used.
# Reason: We disallow experimental Lombok features by default - only relax this restriction if necessary
lombok.experimental.flagUsage = error

# Generate @ConstructorProperties for generated constructors
# Reason: A lot of libraries (i.e. Jackson) use this information via reflection
lombok.anyConstructor.addConstructorProperties = true

# Generate @edu.umd.cs.findbugs.annotations.SuppressFBWarnings on all generated code.
# Reason: Otherwise we get unfixable warnings on generated code
lombok.extern.findbugs.addSuppressFBWarnings = true

# Generate @lombok.Generated on all generated code (default: false).
# Reason: JaCoCo automatically excludes Lombok code from code coverage when this annotation exists.
#         Otherwise we get miscalculated code coverage. The regular @Generated annotation is not
#         enough because it is source-only.
lombok.addLombokGeneratedAnnotation = true